<f:render partial="Header" arguments="{_all}" />

  <main id="main" class="main is-homepage">
  
        <div class="home-banner">
<f:if condition="{f:cObject(typoscriptObjectPath:'lib.contentmain')}">
                <f:then>
                        <f:cObject typoscriptObjectPath="lib.contentmain" /> 
                </f:then>
            </f:if>
	</div>


        </div>
        
        
        
        
        
   <div class="c-indicators">
            <div id="keyindicator_0_DivCode">
                <div class="container">
                    <div class="c-indicators__list">

<f:cObject typoscriptObjectPath="lib.content401" />
                       

                    </div>
                </div>
            </div>


        </div>       
        
        
        
        
        
        
        
        
        
		


   <div class="shortcut-links">
            <div id="shortcutlinks_0_DivCode">
                <div class="container">
                    <div class="row">

                        <div class="col-xs-6 col-md-3 col-sm-3">
                            <a id="shortcutlinks_0_RptShortcutLinks_HypLnkShortcutLink_0" style="padding: 0px !important;" class="shortcut-links__item matchHeight" rel="nofollow noopener noreferrer">
           
                                <span id="shortcutlinks_0_RptShortcutLinks_LblTitle_0">Find by Labor</span>
								
								<div class="custom-select" style="width:100%;">
  <select>
    
    <option>Find By Labor</option>
    <f:cObject typoscriptObjectPath="lib.findbylabor" />
   
   
  </select>
</div>
								
								
								
                              
                            </a>
                        </div>

                        <div class="col-xs-6 col-md-3 col-sm-3">
                            <a id="shortcutlinks_0_RptShortcutLinks_HypLnkShortcutLink_1" class="shortcut-links__item matchHeight" rel="nofollow noopener noreferrer" href="#" target="_blank">
                                <img id="shortcutlinks_0_RptShortcutLinks_ImgShortcutLink_1" src="typo3conf/ext/site_config/Resources/Public/images/icon_table.png" alt="Table" style="height:33px;width:34px;" />
                                <span id="shortcutlinks_0_RptShortcutLinks_LblTitle_1">Create Your Own Statistics</span>
                                <i class="icon icon-arrow-right"></i>
                            </a>
                        </div>

                        <div class="col-xs-6 col-md-3 col-sm-3">
                            <a id="shortcutlinks_0_RptShortcutLinks_HypLnkShortcutLink_2" class="shortcut-links__item matchHeight" rel="nofollow noopener noreferrer" href="index.php?id=203" target="_self">
                                <img id="shortcutlinks_0_RptShortcutLinks_ImgShortcutLink_2" src="typo3conf/ext/site_config/Resources/Public/images/icon_surveys.png" alt="Surveys" style="height:33px;width:34px;" />
                                <span id="shortcutlinks_0_RptShortcutLinks_LblTitle_2">Reports</span>
                                <i class="icon icon-arrow-right"></i>
                            </a>
                        </div>

                        <div class="col-xs-6 col-md-3 col-sm-3">
                            <a id="shortcutlinks_0_RptShortcutLinks_HypLnkShortcutLink_3" class="shortcut-links__item matchHeight" rel="nofollow noopener noreferrer" href="index.php?id=130" target="_self">
                                <img id="shortcutlinks_0_RptShortcutLinks_ImgShortcutLink_3" src="typo3conf/ext/site_config/Resources/Public/images/icon_calendar.png" alt="Calendar" style="height:33px;width:34px;" />
                                <span id="shortcutlinks_0_RptShortcutLinks_LblTitle_3">Calendar</span>
                                <i class="icon icon-arrow-right"></i>
                            </a>
                        </div>

                    </div>
                </div>
            </div>
 </div>
        <div class="section section--bmt section--bmb bg2section">
            <div class="container">
                <div class="row ">
				  <h2 class="title section-title">Key Labor Market Indicators</h2>
				  
                    <div class="col-xs-12 col-sm-8 col-md-12">
                        <div style="padding: 10px;">
                            <div class="latest-highlights matchHeight">
                              
  <div class="row">
  
<f:cObject typoscriptObjectPath="lib.content405" />
  
  
  

  </div>

</div>					   

                                </div>
                            </div>
                     

              
				
        
            </div>
        </div>
		 </div>
		
		
	   <div class="section section--bmt section--bmb">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 col-sm-7 col-md-6">
                        <div class="bg3section" >
                            <div class="latest-highlights matchHeight">
                                <h2 class="title section-title">LATEST PUBLICATIONS</h2>
                              
                              
                              
                              
                           <ul id="dairynews">

        <f:if condition="{f:cObject(typoscriptObjectPath:'lib.content402')}">
                <f:then>
                   
                            <f:cObject typoscriptObjectPath="lib.content402" /> 
                      
                </f:then>
            </f:if>                                         
                                  
                                            </ul>
                                </div>
                            </div>
                        </div>

                   <div class="col-xs-12 col-sm-7 col-md-6">
                        <div class="latesthighlights_0_DivCode bg3section">
                            <div class="latest-highlights matchHeight">
                                <h2 class="title section-title">ANNOUNCEMENTS</h2>
                                <div class="arrows"></div>
                              <ul id="dairynews">
		  <f:if condition="{f:cObject(typoscriptObjectPath:'lib.content403')}">
                <f:then>
                   
                            <f:cObject typoscriptObjectPath="lib.content403" /> 
                      
                </f:then>
            </f:if>        
			</ul>
                            </div>
                        </div>


                    </div>
                </div>
            </div>
        </div>

		
		
		
		
		<div class="section section--bmt section--bmb" style="background: #035B99;">
		<div class="container">
		<div class="col-sm-12">
		  <h2 style="text-align: center;color:#fff;width: 100%;padding: 30px 0px;font-size: 30px;
text-transform: uppercase;">Priority Sectors</h2>
		  </div>
		<div class="row">
		
		  <ul class="pnp__link-collection grid-x grid-margin-x small-up-1 medium-up-2 large-up-3 align-center " data-iteration="0" style="list-style-type: none;" id="pnp__RW0g0G">
		
			  <f:if condition="{f:cObject(typoscriptObjectPath:'lib.content404')}">
                <f:then>
                   
                            <f:cObject typoscriptObjectPath="lib.content404" /> 
                      
                </f:then>
            </f:if>      
			
			
				
				 	
				 
				 	 
				
				</ul>
		</div>
		</div>
		</div>


        <div>


            <div id="usefullinks_2_DivCode">
                <div class="gov-logos">
                    <div class="container">
                        <div class="gov-logos__liist" style="width:100%">

                            <a id="usefullinks_2_RptGovLogos_HypLnkGovLogo_0" class="gov-logos__item" rel="nofollow noopener noreferrer" href="#" target="_blank">
                                <img id="usefullinks_2_RptGovLogos_ImgGovLogo_0" src="typo3conf/ext/site_config/Resources/Public/images/gov.png" alt="gov" />
                                </a>
                            <a id="usefullinks_2_RptGovLogos_HypLnkGovLogo_0" style="float:right;" class="gov-logos__item" rel="nofollow noopener noreferrer" href="#" target="_blank">
                                <img id="usefullinks_2_RptGovLogos_ImgGovLogo_0" src="typo3conf/ext/site_config/Resources/Public/images/rdb.jpg" alt="gov" /></a>
                            <!--<a id="usefullinks_2_RptGovLogos_HypLnkGovLogo_0" class="gov-logos__item" rel="nofollow noopener noreferrer" href="#" target="_blank">-->
                            <!--    <img id="usefullinks_2_RptGovLogos_ImgGovLogo_0" src="typo3conf/ext/site_config/Resources/Public/images/giz.png" alt="gov" /></a>-->
                            <!--<a id="usefullinks_2_RptGovLogos_HypLnkGovLogo_0" class="gov-logos__item" rel="nofollow noopener noreferrer" href="#" target="_blank">-->
                            <!--    <img id="usefullinks_2_RptGovLogos_ImgGovLogo_0" src="typo3conf/ext/site_config/Resources/Public/images/kora.png" alt="gov" /></a>-->
                            <!--<a id="usefullinks_2_RptGovLogos_HypLnkGovLogo_0" class="gov-logos__item" rel="nofollow noopener noreferrer" href="#" target="_blank">-->
                            <!--    <img id="usefullinks_2_RptGovLogos_ImgGovLogo_0" src="typo3conf/ext/site_config/Resources/Public/images/ilo.png" alt="gov" /></a>-->

                        </div>
                    </div>
                </div>
            </div>



        </div>
        <div class="backtotop__container">


            <div class="backtotop__screen">
                <button type="button" class="js-backtotop btn-backtotop" style="border: 2px solid white;"><i class="icon icon-arrow-top"></i><span class="vh">Back to</span><span>Top</span></button>
            </div>
        </div>
    </main>
    
    
   
        
    

    <!-- Footer Section Starts here -->
    <f:render partial="Footer" arguments="{_all}" />