<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
	  xmlns:n="http://typo3.org/ns/GeorgRinger/News/ViewHelpers"
	  data-namespace-typo3-fluid="true">
<f:layout name="General" />
<!--
	=====================
		Templates/News/List.html
-->

<f:section name="content">
	<!--TYPO3SEARCH_end-->
	<f:if condition="{news}">
		<f:then>
			
				<f:if condition="{settings.hidePagination}">
					<f:then>
						<f:if condition="{settings.templateLayout} == 2 || {settings.templateLayout} == 4">
						<f:then>
							<ul>
						</f:then>
						</f:if>
						<f:if condition="{settings.templateLayout} == 3">
						<f:then>
							<ul class="rdf-services">
						</f:then>
						</f:if>
						<f:if condition="{settings.templateLayout} == 22">
						<f:then>
							<div class="col-sm-offset-3 investboxcont">
						</f:then>
						</f:if>
							<f:if condition="{settings.templateLayout} == 6">
						<f:then>
							<div style="">
						</f:then>
						</f:if>
					
						<f:if condition="{settings.templateLayout} == 5">
							<f:then>
								<f:for each="{news}" as="newsItem" iteration="iterator">
									<n:link newsItem="{newsItem}" settings="{settings}" title="{newsItem.title}">
										{newsItem.title}
									</n:link>
								</f:for>
							</f:then>
							<f:else>
								<f:for each="{news}" as="newsItem" iteration="iterator">
									<f:render partial="List/Item" arguments="{newsItem: newsItem,settings:settings,iterator:iterator}" />
								</f:for>
							</f:else>
						</f:if>
						<f:if condition="{settings.templateLayout} == 2  || {settings.templateLayout} == 3  || {settings.templateLayout} == 4 ">
						<f:then>
							</ul>
						</f:then>
						</f:if>
						
							<f:if condition="{settings.templateLayout} == 6 ">
						<f:then>
							</div>
						</f:then>
						</f:if>
						
					</f:then>
					<f:else>
						<n:widget.paginate objects="{news}" as="paginatedNews" configuration="{settings.list.paginate}" initial="{offset:settings.offset,limit:settings.limit,recordId:contentObjectData.uid}">
							<f:for each="{paginatedNews}" as="newsItem" iteration="iterator">
								<f:render partial="List/Item" arguments="{newsItem: newsItem,settings:settings,iterator:iterator}" />
							</f:for>
						</n:widget.paginate>
					</f:else>
				</f:if>
			
		</f:then>
		<f:else>
			<div class="alert ">
				<f:translate key="list_nonewsfound" />
			</div>
		</f:else>
	</f:if>
	<!--TYPO3SEARCH_begin-->
</f:section>
</html>