<div class="col-md-12">
    <div class="row">
        <div class="col-md-6">

            <f:if condition="{year.isDayDetail}">
                <f:then>
                    <div class="bss_calendar_topmenu_item">
                        <f:link.action controller="Event" action="show" arguments="{date:year.year, year:'same', style:'cal', cat:month.cat}"><i class="fa fa-calendar" aria-hidden="true"></i></f:link.action>
                    </div>

                    <div class="bss_calendar_topmenu_item">
                        <f:link.action controller="Event" action="show" arguments="{date:year.year, year:'same', style:'yearlist', cat:month.cat}"><i class="fa fa-list" aria-hidden="true"></i></f:link.action>
                    </div>

                    <div class="bss_calendar_topmenu_item active">
                        <i class="fa fa-search-plus" aria-hidden="true"></i>
                    </div>
                </f:then>
                <f:else>
                    <div class="bss_calendar_topmenu_item">
                        <f:link.action controller="Event" action="show" arguments="{date:year.year, year:'same', style:'cal', cat:month.cat}"><i class="fa fa-calendar" aria-hidden="true"></i></f:link.action>
                    </div>

                    <div class="bss_calendar_topmenu_item active">
                        <i class="fa fa-list" aria-hidden="true"></i>
                    </div>
                </f:else>
            </f:if>
            <f:if condition="{showCreateBtn}">
                <div class="bss_calendar_topmenu_item">
                    <f:link.action id="createEvent" controller="Event" action="create"><i class="fa fa-plus" aria-hidden="true"></i></f:link.action>
                </div>
            </f:if>

        </div>
    </div>
    <div class="bss_calendar">
        <div class="bss_calendar_top">
            <div class="row" style="min-height: 27px;">
                <div class="col-xs-1">
                    <span class="pull-left year-nav">
                        <f:if condition="!{year.isDayDetail}">
                            <f:link.action controller="Event" action="show" arguments="{date:year.year, year:'prev', style:'list', cat:month.cat}"><<</f:link.action>
                        </f:if>
                    </span>
                </div>
                <div class="col-xs-10 text-center">
                    <span>{year.title}</span>
                </div>
                <div class="col-xs-1">
                    <span class="pull-right year-nav">
                        <f:if condition="!{year.isDayDetail}">
                            <f:link.action controller="Event" action="show" arguments="{date:year.year, year:'next', style:'list', cat:month.cat}">>></f:link.action>
                        </f:if>
                    </span>
                </div>
            </div>
        </div>
        <div>
            <f:for each="{year.appointments}" as="appointment">
                    <f:link.action class="bss-event-detail-link" action="detail" arguments="{appointment:appointment}">
                        <div class="row" data-title="{appointment.event.title}">
                            <div class="col-md-12 bss_calendar_day_list_row" style="border-left: 8px solid {appointment.color}; padding-left: 20px; margin: 10px; margin-left: 25px;">
                                <div class="bss_calendar_day_title row">{appointment.listTitle}</div>
                                <div class="bss_calendar_day_title row">{appointment.event.title}</div>
                                <div class="row" style="max-height: 52px; overflow: hidden; word-wrap: break-word;"><f:format.html><f:format.crop maxCharacters="200">{appointment.event.previewBody}</f:format.crop></f:format.html></div>
                            </div>
                        </div>
                    </f:link.action>
            </f:for>
        </div>
        <div class="bss_calendar_bot"></div>
    </div>
</div>