{namespace bss=Bermuda\BssEvents\ViewHelpers}

<div class="row">

    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

        <f:flashMessages />

        <h4 class="modal-title">
            <f:translate key="LLL:EXT:bss_events/Resources/Private/Language/locallang_db.xlf:tx_bssevents_event.edit"/>
        </h4>

        <br/>

        <div class="subscribe-fields">

            <f:form extensionName="bssevents" pluginName="P1" controller="Event" action="edit" enctype="multipart/form-data" object="{newEvent}" name="event" arguments="{save:1}">
                <label><f:translate key="LLL:EXT:bss_events/Resources/Private/Language/locallang_db.xlf:tx_bssevents_event.title"/>:</label><br/>
                <f:form.textfield property="title"/>
                <br/>
                <label><f:translate key="LLL:EXT:bss_events/Resources/Private/Language/locallang_db.xlf:tx_bssevents_event.venue"/>:</label><br/>
                <f:form.textfield property="place"/>
                <br/>
                <label><f:translate key="LLL:EXT:bss_events/Resources/Private/Language/locallang_db.xlf:tx_bssevents_event.organizer"/>:</label><br/>
                <f:form.textfield property="organizer"/>
                <br/>
                <label><f:translate key="LLL:EXT:bss_events/Resources/Private/Language/locallang_db.xlf:tx_bssevents_event.content"/>:</label><br/>
                <f:form.textarea id="bodyTextarea" property="body"/>
                <f:form.hidden property="state" value="active"/>
                <br/>
                <label><f:translate key="LLL:EXT:bss_events/Resources/Private/Language/locallang_db.xlf:tx_bssevents_event.categories"/>:</label><br/>
                <f:form.select options="{categories}" property="categories" multiple="multiple" optionLabelField="title"
                               optionValueField="uid"/>
                <br/>
                <br/>

                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">
                            <span><f:translate key="LLL:EXT:bss_events/Resources/Private/Language/locallang_db.xlf:tx_bssevents_event.appointments"/></span>
                            <span id="appointment-add-btn" class="pull-right" style="cursor: pointer;" onclick="$.fn.bssEventsAddAppointment($('#appointments-container'));">
                                <i class="fa fa-plus-circle fa-2x" style="margin-top: -7px;"></i>
                            </span>
                        </h3>
                    </div>
                    <div class="panel-body" id="appointments-container">

                        <f:for each="{newEvent.appointments}" as="appointment">

                            <div class="panel panel-default" data-appointmentid="{appointment.uid}">

                                <div class="panel-heading">
                                    <h3 class="panel-title"><span><f:translate key="LLL:EXT:bss_events/Resources/Private/Language/locallang_db.xlf:tx_bssevents_appointment.new"/></span>
                                        <span class="pull-right" style="cursor: pointer;" onclick="$(this).parent().parent().parent().remove();">
                                            <i class="fa fa-minus-circle fa-2x" style="margin-top: -7px;"></i>
                                        </span>
                                    </h3>
                                </div>
                                <div class="panel-body">

                                    <label><f:translate key="LLL:EXT:bss_events/Resources/Private/Language/locallang_db.xlf:tx_bssevents_appointment.date_from"/></label><br/>
                                    <f:form.textfield class="initialDateTimePicker" id="datetimepickerFrom{appointment.uid}" name="event[appointments][{appointment.uid}][dateFrom]"  value="{appointment.dateFrom -> f:format.date(format: 'd.m.Y H:i')}"/><br/>

                                    <label><f:translate key="LLL:EXT:bss_events/Resources/Private/Language/locallang_db.xlf:tx_bssevents_appointment.date_to"/></label><br/>
                                    <f:form.textfield class="initialDateTimePicker" id="datetimepickerTo{appointment.uid}" name="event[appointments][{appointment.uid}][dateTo]" value="{appointment.dateTo -> f:format.date(format: 'd.m.Y H:i')}"/><br/>


                                    <hr/>

                                    <label><f:translate key="LLL:EXT:bss_events/Resources/Private/Language/locallang_db.xlf:tx_bssevents_appointment_exception.repeat_weekly"/></label><br/>
                                    <input type="checkbox" class="initialToggle" name="tx_bssevents_p1[event][appointments][{appointment.uid}][repeatWeekly]" value="1" {f:if(condition:'{appointment.repeatWeekly}', then:'checked' )} /><br/><br/>

                                    <hr/>


                                    <f:form.hidden name="event[appointments][{appointment.uid}][state]" value="{appointment.state}" /><br/>

                                    <!-- registration -->
                                    <div class="panel panel-default">
                                        <div class="panel-heading">
                                            <h3 class="panel-title">
                                                <span><f:translate key="LLL:EXT:bss_events/Resources/Private/Language/locallang_db.xlf:tx_bssevents_registration.registration"/></span>
                                                <f:if condition="{appointment.registration}">
                                                    <f:then>
                                                        <span class="registration-add-btn pull-right" style="cursor: pointer; display: none" onclick="$.fn.bssEventsAddRegistration($(this).parent().parent().parent().find('.registration-container'));$(this).hide();">
                                                            <i class="fa fa-plus-circle fa-2x" style="margin-top: -7px;"></i>
                                                        </span>
                                                    </f:then>
                                                    <f:else>
                                                        <span class="registration-add-btn pull-right" style="cursor: pointer;" onclick="$.fn.bssEventsAddRegistration($(this).parent().parent().parent().find('.registration-container'));$(this).hide();">
                                                            <i class="fa fa-plus-circle fa-2x" style="margin-top: -7px;"></i>
                                                        </span>
                                                    </f:else>
                                                </f:if>
                                            </h3>
                                        </div>
                                        <div class="panel-body registration-container" data-appointmentid="{appointment.uid}">

                                            <f:if condition="{appointment.registration}">

                                                <div class="panel panel-default">
                                                    <div class="panel-heading">
                                                        <h3 class="panel-title"><span><f:translate key="LLL:EXT:bss_events/Resources/Private/Language/locallang_db.xlf:tx_bssevents_registration.new"/></span>
                                                            <span class="pull-right" style="cursor: pointer;" onclick="$(this).parent().parent().parent().parent().parent().find('.registration-add-btn').show();$(this).parent().parent().parent().remove();">
                                                                <i class="fa fa-minus-circle fa-2x" style="margin-top: -7px;"></i>
                                                            </span>
                                                        </h3>
                                                    </div>
                                                    <div class="panel-body">
                                                        <label><f:translate key="LLL:EXT:bss_events/Resources/Private/Language/locallang_db.xlf:tx_bssevents_registration.isPublic"/></label><br/>
                                                        <input type="checkbox" class="initialToggle" name="tx_bssevents_p1[event][appointments][{appointment.uid}][registration][public]" value="1" {f:if(condition:"{appointment.registration.public}", then:"checked")} /><br/>

                                                        <label><f:translate key="LLL:EXT:bss_events/Resources/Private/Language/locallang_db.xlf:tx_bssevents_registration.additionalInformation"/></label><br/>
                                                        <textarea rows="6" name="tx_bssevents_p1[event][appointments][{appointment.uid}][registration][message]">{appointment.registration.message}</textarea><br/>

                                                    </div>
                                                </div>

                                            </f:if>

                                        </div>
                                    </div>

                                </div>
                            </div>

                            <f:for each="{appointment.childs}" as="child">
                                <f:form.hidden name="event[appointments][{appointment.uid}][childs][]" value="{child.uid}" />
                            </f:for>

                        </f:for>

                        <script>
                            var language = $("#appointment-template-container").data('language');
                            $.datetimepicker.setLocale(language);
                            $(".initialDateTimePicker").datetimepicker({
                                format: 'd.m.Y H:i',
                                step: 15
                            });
                            $('.initialToggle').bootstrapToggle({
                                on: '✓',
                                off: '✗'
                            });
                        </script>


                    </div>
                </div>

                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">
                            <span><f:translate key="LLL:EXT:bss_events/Resources/Private/Language/locallang_db.xlf:tx_bssevents_event.recurringappointments"/></span>
                        </h3>
                    </div>
                    <div class="panel-body">

                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <th scope="col"><f:translate key="LLL:EXT:bss_events/Resources/Private/Language/locallang_db.xlf:tx_bssevents_event.active"/></th>
                                <th scope="col"><f:translate key="LLL:EXT:bss_events/Resources/Private/Language/locallang_db.xlf:tx_bssevents_appointment.date_from"/></th>
                                <th scope="col"><f:translate key="LLL:EXT:bss_events/Resources/Private/Language/locallang_db.xlf:tx_bssevents_appointment.date_to"/></th>
                                <th scope="col"></th>
                            </tr>
                            </thead>
                            <tbody>

                                <f:for each="{newEvent.appointments}" as="appointment">
                                    <f:for each="{appointment.childs}" as="child">

                                        <tr>
                                            <td>
                                                <div class="form-check" style="max-width:40px;">
                                                    <input type="checkbox" class="form-check-input" name="activeRecurringAppointments[]" value="{child.uid}" {f:if(condition:'{child.active}', then:'checked')} >
                                                </div>
                                            </td>
                                            <td>{child.dateFrom -> f:format.date(format: 'd.m.Y H:i')}</td>
                                            <td>{child.dateTo -> f:format.date(format: 'd.m.Y H:i')}</td>
                                            <td></td>
                                        </tr>

                                    </f:for>
                                </f:for>

                            </tbody>
                        </table>
                    </div>
                </div>


                <f:form.button type="submit"><f:translate key="LLL:EXT:bss_events/Resources/Private/Language/locallang_db.xlf:tx_bssevents_event.send"/></f:form.button><br/>
            </f:form>

        </div>

    </div>

</div>


<!-- Some Templates -->

<div id="registration-template-container" style="display: none;">

    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title"><span><f:translate key="LLL:EXT:bss_events/Resources/Private/Language/locallang_db.xlf:tx_bssevents_registration.new"/></span>
                <span class="pull-right" style="cursor: pointer;" onclick="$(this).parent().parent().parent().parent().parent().find('.registration-add-btn').show();$(this).parent().parent().parent().remove();">
                            <i class="fa fa-minus-circle fa-2x" style="margin-top: -7px;"></i>
                        </span>
            </h3>
        </div>
        <div class="panel-body">
            <label><f:translate key="LLL:EXT:bss_events/Resources/Private/Language/locallang_db.xlf:tx_bssevents_registration.isPublic"/></label><br/>
            <input type="checkbox" class="toggle" name="tx_bssevents_p1[event][appointments][new%%%id%%%][registration][public]" value="1" /><br/>

            <label><f:translate key="LLL:EXT:bss_events/Resources/Private/Language/locallang_db.xlf:tx_bssevents_registration.additionalInformation"/></label><br/>
            <textarea rows="6" name="tx_bssevents_p1[event][appointments][new%%%id%%%][registration][message]" /><br/>

        </div>
    </div>
</div>



<div id="appointment-template-container" data-language="{language}" style="display: none;">

    <div class="panel panel-default" data-appointmentid="new%%%id%%%">
        <div class="panel-heading">
            <h3 class="panel-title"><span><f:translate key="LLL:EXT:bss_events/Resources/Private/Language/locallang_db.xlf:tx_bssevents_appointment.new"/></span>
                <span class="pull-right" style="cursor: pointer;" onclick="$(this).parent().parent().parent().remove();">
                            <i class="fa fa-minus-circle fa-2x" style="margin-top: -7px;"></i>
                        </span>
            </h3>
        </div>
        <div class="panel-body">
            <label><f:translate key="LLL:EXT:bss_events/Resources/Private/Language/locallang_db.xlf:tx_bssevents_appointment.date_from"/></label><br/>
            <f:form.textfield id="datetimepickerFrom%%%id%%%" name="tx_bssevents_p1[event][appointments][new%%%id%%%][dateFrom]" /><br/>

            <label><f:translate key="LLL:EXT:bss_events/Resources/Private/Language/locallang_db.xlf:tx_bssevents_appointment.date_to"/></label><br/>
            <f:form.textfield id="datetimepickerTo%%%id%%%" name="tx_bssevents_p1[event][appointments][new%%%id%%%][dateTo]" /><br/>

            <hr/>

            <label><f:translate key="LLL:EXT:bss_events/Resources/Private/Language/locallang_db.xlf:tx_bssevents_appointment_exception.repeat_weekly"/></label><br/>
            <input type="checkbox" class="toggle" name="tx_bssevents_p1[event][appointments][new%%%id%%%][repeatWeekly]" value="1" /><br/><br/>

            <hr/>

            <f:form.hidden name="tx_bssevents_p1[event][appointments][new%%%id%%%][state]" value="active" /><br/>

            <!-- registration -->
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        <span><f:translate key="LLL:EXT:bss_events/Resources/Private/Language/locallang_db.xlf:tx_bssevents_registration.registration"/></span>
                        <span class="registration-add-btn pull-right" style="cursor: pointer;" onclick="$.fn.bssEventsAddRegistration($(this).parent().parent().parent().find('.registration-container'));$(this).hide();">
                            <i class="fa fa-plus-circle fa-2x" style="margin-top: -7px;"></i>
                        </span>
                    </h3>
                </div>
                <div class="panel-body registration-container">

                </div>
            </div>

        </div>
    </div>
</div>
