#contentent {
    /*border: 1px dotted orangered;*/
}

/* starting styling calendar */

.bss_calendar_day {
    position: relative;
    margin: 1px;
    width: 120px;
    height: 120px;
    float: left;
    color: #343434;
    border-bottom: 1px solid #9eafd4;
    border-right: 1px solid #9eafd4;
    transition: background-color 0.6s linear;
    padding: 5px;
}

.bss_calendar a, .bss_calendar a:hover {
    color: #343434;
    text-decoration: none
}

.bss_calendar .month-nav a, .bss_calendar .month-nav a:hover{
    color: white;
}

.bss_calendar_day:hover {
    background-color: #cfd7ea;
}

.bss_calendar_day_title {
    font-size: 10pt;
    font-weight: 600;
    color: #343434;
    padding-left: 3px;
}

.bss_calendar_top {
    background-color: #9eafd4;
    padding-top: 4px;
    color: #ffffff;
}

.bss_calendar_top span {
    font-size: small;
    font-weight: 700;
    margin: 4px;
}

.bss_calendar_topmenu_item {
    display: inline-block;
    padding: 5px;
    border: 1px solid #9eafd4;
    margin-bottom: -1px;
    cursor: auto;
    text-align: center;
    min-width: 50px;
}

.bss_calendar_topmenu_item:not(.active) {
    cursor: pointer;
}

.bss_calendar_topmenu_item.active {
    background-color: #9eafd4;
}

.bss_calendar_topmenu_item:not(:first-child) {
    border-left: 0px;
    margin-left: -5px;
}

.bss_calendar_topmenu_item .fa {
    display: inline-block;
    padding: 2px;
    color: #9eafd4;
    font-size: 16pt;
}

.bss_calendar_topmenu_item.active .fa {
    color: #ffffff;
}

.categories_row div div { padding: 10px; display: inline-block; }
.categories_row div { margin-top: 10px; }

.plus_count {
    position: absolute;
    bottom: 5px;
    right: 5px;
    color: white;
    border-radius: 100%;
    border: 2px solid white;
    padding: 4px;
    background-color: black;
    font-size: 12pt;
    font-weight: bold;
    font-family: Helvetica, sans-serif;
}

.bss_calendar_day_list_row {
    transition: background-color 0.6s linear;
}

.bss_calendar_day_list_row:hover {
    background-color: rgba(211,211,211,0.6);
}

#bssEventModal .modal-header { border-bottom: 0;}
#events-detail-modal-header-table tr td {
    padding: 2px 8px;
}

.registration-info > div {
    position: relative;
}

.registration-info > div > i {
    position: absolute;
    top: -13px;
    left: 10px;
    background: white;
}

@media (min-width: 1050px) {
    .modal-dialog {
        width: 1024px;
        margin: 30px auto;
    }
}

.subscribe-fields input, .subscribe-fields textarea, .subscribe-fields select{
    border: 0;
    background: #9eafd4;
    padding: 5px;
    width: 100%;
    color: #000;
    margin-bottom: 3px;
    max-width: 100%;
}

.subscribe-fields button{
    border: 0;
    background: #5e667f;
    color: #fff;
    padding: 4px 15px;
}

.donthover:hover {
    text-decoration: none;
}

#bssEventModal #event-detail-content img{
    max-width: 100%;
}