  <footer id="footer" class="footer">
	<div class="footer__main">
                <div class="container">
    
                    <div id="footernavigation_0_DivCode" class="container">
                        
                        
                        
    <ul>
        
            
                    <li class="footer__nav-item">
             
 <f:cObject typoscriptObjectPath="lib.footerText" />
                    </li>
            
            
     
                      
                      
                      
                       <f:cObject typoscriptObjectPath="lib.footermenu" />
				  


  
    </ul>
</div>


                </div>
            </div>
			
<!--<div class="footer__middle">-->
<!--                <div class="container">-->
<!--                    <div class="footer__middle__wrapper">-->
                        
<!--    <div  style="width: 600px;">-->
<!--	<img width="140" src="typo3conf/ext/site_config/Resources/Public/images/rw.png" style="float: left;padding-right:20px" > -->
<!--	 <f:cObject typoscriptObjectPath="lib.footericon" />-->

	
<!--	</div>-->



              
<!--                    </div>-->
<!--                </div>-->
<!--            </div>			-->
			

        <div class="footer__bottom">
            <div class="container">
                <div class="row">

                    <div class="col-xs-12 col-sm-12 col-md-12">
                        <div id="lastupdate_0_DivCode">
                            <p class="last-update">
                                <span> <f:cObject typoscriptObjectPath="lib.copyright" /> </span>


                            </p>
                        </div>


                    </div>
                </div>
            </div>
        </div>
    </footer>
