        <header id="header" class="header">

        <div class="header__container">
            <div class="header__main no-desktop">
                <div class="container">
                    <a href="./">
                            <f:cObject typoscriptObjectPath="lib.logo" />
                          </a>
                </div>
            </div>
            <div class="nav">
                <div class="container container--for-btn">
                        <button type="button" class="btn-toggle-search js-toggle-search toggle-search-desktop desktop-only">
                        <span class="visuallyhidden">Toggle Search Menu</span>
                        <i class="icon-search-dss"></i>
                    </button>
                </div>
                <div class="container container--for-nav">
                    <div class="no-desktop">
                        <button class="mobile-menu js-mobile-menu">
                            <span class="visuallyhidden">Toggle mobile menu</span>
                            <span class="line"></span>
                            <span class="line"></span>
                            <span class="line"></span>
                            <span class="line"></span>                        </button>
                            
                           
                    </div>
                    <div class="nav-container">
                        <div class="header__search-bar mobile-search">
 <form method="get" action="index.php?id=129" name="xajax_form_kesearch_pi1" style="width:100%" id="my_form">
             <input type="hidden" value="129" name="id">
             <input id="siteSearchMobile" type="text" placeholder="What are you looking for?" name="tx_kesearch_pi1[sword]" />
            <input type="hidden" value="1" name="tx_kesearch_pi1[page]">  
 
      <input type="hidden" value="0" name="tx_kesearch_pi1[resetFilters]" id="resetFilters">
      <input type="hidden" value="" name="tx_kesearch_pi1[sortByField]" id="sortByField">
      <input type="hidden" value="" name="tx_kesearch_pi1[sortByDir]" id="sortByDir">
      
      
      
       
                 <button type="button" class="btn-search" id="searchMobile">
                           <span class="visuallyhidden">Submit search</span>
                                <i class="icon-search-dss"></i>              
                            </button>
 
          </form> 

                          
                        </div>
                        <div id="navigation_0_DivCode">
                            <div class="main-nav">
                           <div class="header-nav">   
            <div class=""> 
                <div class="navbar">
		<div class="lvl1 desktop-only ">
     <a href="./" class="logo"><f:cObject typoscriptObjectPath="lib.logo" /> </a>

                     <f:cObject typoscriptObjectPath="lib.mainNavi" />
                     
                   
                </div>
                
        	<div class="lvl1 no-desktop">
    

                     <f:cObject typoscriptObjectPath="lib.mainNavimobile" />
                     
                   
                </div>
                
                
                
                
            </div>
        </div>
				
                        
                    </div>
                </div>









                <div class="header__search-bar desktop-search desktop-only">
                    <div class="container">
                        <i class="icon-search-dss"></i>


                        <label for="siteSearchDesktop" class="visuallyhidden">Search</label>
 
 <form method="get" action="index.php?id=129" name="xajax_form_kesearch_pi1" style="width:100%" id="my_form">
             <input type="hidden" value="129" name="id">
             <input id="siteSearchDesktop" type="text" placeholder="What are you looking for?" name="tx_kesearch_pi1[sword]" />
            <input type="hidden" value="1" name="tx_kesearch_pi1[page]">  
 
      <input type="hidden" value="0" name="tx_kesearch_pi1[resetFilters]" id="resetFilters">
      <input type="hidden" value="" name="tx_kesearch_pi1[sortByField]" id="sortByField">
      <input type="hidden" value="" name="tx_kesearch_pi1[sortByDir]" id="sortByDir">
      
      
      
       
                        <a class="btn btn--orange" type="submit" id="searchDesktop" href="javascript:{}" onclick="document.getElementById('my_form').submit(); return false;">
                            <span><span>Search</span></span>                        </a>    
 
          </form>                       
                        
                        
                        
                        
                                       </div>
                </div>
            </div>
        </div>
    </header>